<<<<<<< HEAD
*{
  margin:0px;
  padding:0px;
}

nav{
  padding: 5px;
}

nav a{
    text-decoration:none;
    margin-left:55px;
    padding:0px;

}

header{
  background-color:palegreen;
=======
*{
  margin:0px;
  padding:0px;
}

nav{
  padding: 5px;
}

nav a{
    text-decoration:none;
    margin-left:55px;
    padding:0px;

}

header{
  background-color:palegreen;
>>>>>>> 1371849ececcc49cd20ed7c971052d25a7846929
}